<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Caos News-Política Noticia</title>

    <!--Importar bootstrap-->
    <link rel="stylesheet" href="../../../resources/bootstrap-5.0.0/css/bootstrap.min.css">
    <script src="../../../resources/bootstrap-5.0.0/js/bootstrap.min.js"></script>

    <!--Importar hoja de estilos propia-->
    <link rel="stylesheet" href="../../../resources/style/noticias-politica-estilos.css">

</head>
<body>
    <header>
        <!-- Barra navegadora/ menu-->
        <nav class="navbar navbar-expand-md navbar-dark barra-superior ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon amburguesa"></span>
                </button>
                <!--Logo-->
                <a class="navbar-brand" href="../noti-destacadas.html">
                    <img src="../../../resources/img/logo.png" alt="Logo Caos News" class="logo">
                </a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <!--Herramientas disponibles lector-->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--Destacados-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" aria-current="page" href="../noti-destacadas.html">Destacados</a>
                        </li>
                        <!--Economía-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" href="../economia/cate-economia.html">Economía</a>
                        </li>
                        <!--Política-->
                        <li class="nav-item">
                            <a class="nav-link active" href="../politica/cate-politica.html">Política</a>
                        </li>
                        <!--Salud-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" href="../salud/cate-salud.html">Salud</a>
                        </li>
                        <!--Deporte-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" href="../deporte/cate-deporte.html">Deporte</a>
                        </li>
                        <!--Cultura-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" href="../cultura/cate-cultura.html">Cultura</a>
                        </li>
                        <!--Mundo-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" href="../mundo/cate-mundo.html">Mundo</a>
                        </li>
                        <!--Contacto-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" href="../../contacto/form-contacto.html">Contacto</a>
                        </li>
                        <!--Buscar por palabra clave-->
                        <form action="">
                            <input type="text" name="buscador" id="buscador"  class="buscador" placeholder="Buscar noticia">
                            <a href="">
                                <img src="../../../resources/img/logotipos/search.png" class="img-buscar">
                            </a>
                        </form>
                        <!--Iniciar sesión-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" href="../../login_iniciar_sesion.html">Iniciar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--Barra informacíon-->
    <div>
        <!--Datos actualización página-->
        <div class="row actualizacion">
            <div class="col-12 col-md-8">
                Viernes, 16 de Abril de 2021 | Actualizado a las 12:00
            </div>
            <div class="col-12 col-md-4">
                <img src="../../../resources/img/logotipos/facebook.png" class="redes-sociales">
                <img src="../../../resources/img/logotipos/twitter.png" class="redes-sociales">
                <img src="../../../resources/img/logotipos/insta.png" class="redes-sociales">
                <img src="../../../resources/img/logotipos/gmail.png" class="redes-sociales">
            </div>
        </div>
    </div>
    <!--Cuerpo pagina-->
    <div class="row">
        <div class="col-12 col-md-1 mt-5"></div>
        <!--Volver al menú principal-->
        <div class="col-12 col-md-8 mt-5">
            <div class="row">
                <!--Enlaces-->
                <div class="col-2 col-md-1">
                    <a href="../noti-destacadas.html" class="enlaces ">Inicio</a>  
                </div>
                <div class="col-2 col-md-1">
                    <p class="text-center enlace ps-4">|</p>
                </div>
                <div class="col-2 col-md-1">
                    <a href="cate-politica.html" class="enlaces">Volver</a>  
                </div>
            </div>
            <!--Título-->
            <div class="row">
                <div class="col-12 col-md-12">
                    <h1>
                        ¿Una constitución feminista para Chile?
                    </h1>
                </div>
            </div>
            <hr class="hr-mundo">
            <!--Descripcion-->
            <div class="row">
                <div class="col-12 col-md-12">
                    <p class="fst-italic">
                        Política | Javier Martínez | 11/04/2021
                    </p>
                </div>
            </div>
            <!--Noticia-->
            <div class="row">
                <!--noticia 1-->
                <div class="col-12 col-md-12 bg">
                    <img src="../../../resources/img/noticias/1politica.PNG" class="img-noticia">
                    <!--Contenido noticia-->
                    <p class="fst-italic fs-5 mx-4">
                        ¿Logrará la primera asamblea paritaria de la historia una primera constitución feminista en Chile? DW
                        habló con María Eugenia Rodríguez Palop, vicepresidenta de la comisión de Derechos de la Mujer de la
                        Eurocámara.
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <a href="" class="btn btn-leer-mas btn-sm float-end text-light">Leer más...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Sección autores-->
        <div class="col-12 col-md-3 mt-5">
            <div class="card ms-5 me-5 ">
                <!--Título-->
                <div class="card-body">
                    <p class="cargo p-4">
                        REPORTEROS
                    </p>
                    <!--Autor nombre y cargo-->
                    <!--Cultura-->
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <a href="../cultura/autor-cultura.html">
                                <img src="../../../resources/img/personas/REPORTERO-BLANCA_FERNANDEZ-CULTURA.jpg" class="card-img">
                            </a>
                        </div>
                        <div class="col-7 col-md-8">
                            <a href="../cultura/autor-cultura.html" class="link">
                                <div class="card-text">
                                    Blanca Fernández <br>
                                    Cultura
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--Mundo-->
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <a href="../mundo/autor-mundo.html">
                                <img src="../../../resources/img/personas/REPORTERO-CESAR_RODRIGUEZ-MUNDO.jpg" class="card-img">
                            </a>
                        </div>
                        <div class="col-7 col-md-8">
                            <a href="../mundo/autor-mundo.html" class="link">
                                <div class="card-text">
                                    César Rodríguez <br>
                                    Mundo
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--Salud-->
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <a href="../salud/autor-salud.html">
                                <img src="../../../resources/img/personas/REPORTERO-FRANCISCA_CONTRERAS-SALUD.jpg" class="card-img">
                            </a>
                        </div>
                        <div class="col-7 col-md-8">
                            <a href="../salud/autor-salud.html" class="link">
                                <div class="card-text">
                                    Francisca Contreras <br>
                                    Salud
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--Política-->
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <a href="../politica/autor-politica.html">
                                <img src="../../../resources/img/personas/REPORTERO-JAVIER_MARTÍNEZ-POLITICA.jpg" class="card-img">
                            </a>
                        </div>
                        <div class="col-7 col-md-8">
                            <a href="../politica/autor-politica.html" class="link">
                                <div class="card-text">
                                    Javier Martínez <br>
                                    Política
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--Economía-->
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <a href="../economia/autor-economia.html">
                                <img src="../../../resources/img/personas/REPORTERO-PABLO_GONZÁLEZ-ECONOMÍA.jpg" class="card-img">
                            </a>
                        </div>
                        <div class="col-7 col-md-8">
                            <a href="../economia/autor-economia.html" class="link">
                                <div class="card-text">
                                    Pablo González <br>
                                    Economía
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--Deporte-->
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <a href="../deporte/autor-deporte.html">
                                <img src="../../../resources/img/personas/REPORTERO-VERONICA_HERNÁNDEZ-DEPORTE.jpg" class="card-img">
                            </a>
                        </div>
                        <div class="col-7 col-md-8">
                            <a href="../deporte/autor-deporte.html" class="link">
                                <div class="card-text">
                                    Verónica Hernández <br>
                                    Deporte
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <footer>
        <div class="footer">
            <div class="row">
                <div class="col-12 col-md-1">
                    <img src="../../../resources/img/logo.png" class="logo border">
                </div>
                <div class="col-12 col-md-11">
                    <p class="foot">
                        Avenida Italia 890, Providencia, Santiago. <br>
                        +56 9 1234 5678 <br>
                        info@caosnews.cl <br>
                        © 2020 - Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>