<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>      
    <!--Hoja de estilos propia y de la feña-->
    <link rel="stylesheet" href="../resource/style/stilos.css">
  
    <title>Caos News</title>
  </head>

  <body class="fondo">
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
          
            <div class="container-fluid"><!--inicio container-->
                <a class="navbar-brand" href="index.html">
                        <img class="logotipo rounded-circle border-light" src="../resource/img/pinterest_profile_image.png" alt="" >
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mX-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Noticia.html">Destacados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Entrevistas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categoria
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item active" href="DeporteNoticia.html">Deportes</a></li>
                        <li><a class="dropdown-item" href="Noticia.html">Economia</a></li>
                        <li><a class="dropdown-item" href="NoticiaEmergencia.html">Emergencia</a></li>
                        <li><a class="dropdown-item" href="NoticiaTecnologia.html">Tecnologia</a></li>
                        </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    
                    </li>
                    <li>
                        <a href="../Views/login.html" type="submit" class="btn btn-recuperar"> Iniciar sesion </a>
                    </li>
                    <li img class="iconos-redes-header" ><!--logo face-->
                    </li>
                    <li img class="iconos-redes-header" src="../resource/img/" alt=""><!--logo twiter-->
                    </li>
                    <li img class="iconos-redes-header" src="../resource/img/#" alt=""><!--logo instagram-->
                    </li>

                </ul>
                    
                </div>
        </div><!--fin del container-->
  </nav>


                <div class="conteiner-fluid containerInformacionNav">
                  <h2>Viernes 14 de abril del 2021 | Actualizado a las 12:00 </h2>
                  <div><img class="iconos-redes-header" src="../resource/img/facebook.png" alt=""><!--logo face-->
                  <img class="iconos-redes-header" src="../resource/img/gorjeo.png" alt=""><!--logo twiter-->
                  <img class="iconos-redes-header" src="../resource/img/instagram.png" alt=""><!--logo instagram--></div>
                </div>
<!-- rectangulo
-->

    <section class="container">

      <div >
          <header>
            <a href="index.html" title="Enlace" class="ul">Inicio | Deporte</a>
          </header>
      </div>
     <h4>La Calera y Audax asaltan la cima del torneo chileno y desplazan a catolica</h4>

      <p>Publicado: 11/04/2021 a las 14:28hrs.  Autor: Veronica Hernandez</p>
      <hr> </hr>
      <!--Cuerpo noticia-->

    <section class="container">
            <div class="card cardNoticia" style="width: 50rem;">
              <img src="../resource/img/DEPORTE1.jfif" class="card-img-top" alt="...">
              <div class="card-body">

                <p class="card-text">Colo Colo, en tanto, anotó su primera derrota de esta edición, 1-2 contra O'Higgins, y perdió su oportunidad de llegar también a la primera posición, mientras que los celestes se alzaron con el cuarto puesto.</p>
                <a href="#" class="btn btn-primary">leer más...</a>
              </div>
            </div>

    </section>
    
  </body>
</html>