<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>      
    <!--Hoja de estilos propia y de la feña-->
    <link rel="stylesheet" href="../resource/style/stilos.css">
    <link rel="stylesheet" href="../Resources/Style/estilos.css">
    <title>Caos News</title>
  </head>

  <body class="fondo">
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
          
            <div class="container-fluid"><!--inicio container-->
                <a class="navbar-brand" href="index.html">
                        <img class="logotipo rounded-circle border-light" src="../resource/img/pinterest_profile_image.png" alt="" >
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mX-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Noticia.html">Destacados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Entrevistas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categoria
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item active" href="Deporte.html">Deportes</a></li>
                        <li><a class="dropdown-item" href="Economia.html">Economia</a></li>
                        <li><a class="dropdown-item" href="#">Salud</a></li>
                        <li><a class="dropdown-item" href="NoticiaTecnologia.html">cultura</a></li>
                        </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    
                    </li>
                    <li>
                        <a href="../Views/login.html" type="submit" class="btn btn-recuperar"> Iniciar sesion </a>
                    </li>
                    

                </ul>
                    
                </div>
        </div><!--fin del container-->
  </nav>
      <!---cuadro debajo de nav-->
      <div class="conteiner-fluid containerInformacionNav">
        <h2>Viernes 14 de abril del 2021 | Actualizado a las 12:00 </h2>
        <div><img class="iconos-redes-header" src="../resource/img/facebook.png" alt=""><!--logo face-->
        <img class="iconos-redes-header" src="" alt=""><!--logo twiter-->
        <img class="iconos-redes-header" src="·" alt=""><!--logo instagram--></div>
      </div>
      
    <section class="container">
      <h4>Deporte</h4>
      <hr> </hr>

      <!--Cuerpo noticia-->
    
    <section class="row aling-items-center justify-content-center vh-100">
      <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        <div class="col">
          <div class="card">
            <a href="DeporteNoticia.html">
            <img src="../resource/img/DEPORTE1.jfif" class="card-img-top" alt="torneo chileno"></a>
            <div class="card-body">
              <h5 class="card-title">La Calera y Audax asaltan la cima del torneo chileno y desplazan a catolica</h5>
            
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <a href="Noticia futbol2.html">
            <img src="../resource/img/DEPORTE2.jfif" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Con polemico gol anulado Univercidad de Chile empata con Deportes La Serena</h5>
              </div>
          </div>
        </div>
      
        <div class="col">
          <div class="card">
            <a href="NoticiaDeportes3.html">
            <img src="../resource/img/DEPORTE3.jfif" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Sorpresa en Blanco y Negro :Anibal Mosa frena venta de sus acciones</h5>
               </div>
          </div>
        </div>
        <!-- direccion-->
      <footer>
          <div  class="conteiner-fluid .containerInformacionNav">
            <h2>Avenida italia 890,provincia,Santiago</h2><br>
            <h2>+5691234658</h2><br>
            <h2>info@CaosNews.cl</h2>
            <h2>&COPY - Todos los derechos reservados.</h2>

        </div>
      </footer>
    
  </body>
</html>