<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>      
    <!--Hoja de estilos propia y de la feña-->
    <link rel="stylesheet" href="../resource/style/stilos.css">
    <link rel="stylesheet" href="../Resources/Style/estilos.css">
    <title>Caos News</title>
  </head>

  <body class="fondo">
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
          
            <div class="container-fluid"><!--inicio container-->
                <a class="navbar-brand" href="index.html">
                        <img class="logotipo rounded-circle border-light" src="../resource/img/pinterest_profile_image.png" alt="" >
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mX-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Noticia.html">Destacados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Entrevistas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categoria
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item active" href="Deporte.html">Deportes</a></li>
                        <li><a class="dropdown-item" href="Economia.html">Economia</a></li>
                        <li><a class="dropdown-item" href="CULTURA.html">Cultura</a></li>
                        <li><a class="dropdown-item" href="NoticiaTecnologia.html">Salud</a></li>
                        </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    
                    </li>
                    <li>
                        <a href="../Views/login.html" type="submit" class="btn btn-recuperar"> Iniciar sesion </a>
                    </li>
                    

                </ul>
                    
                </div>
        </div><!--fin del container-->
  </nav>
      <!---cuadro debajo de nav-->
      <div class="conteiner-fluid containerInformacionNav">
        <h2>Viernes 14 de abril del 2021 | Actualizado a las 12:00 </h2>
        <div><img class="iconos-redes-header" src="../resource/img/facebook.png" alt=""><!--logo face-->
        <img class="iconos-redes-header" src="../resource/img/gorjeo.png" alt=""><!--logo twiter-->
        <img class="iconos-redes-header" src="../resource/img/instagram.png" alt=""><!--logo instagram--></div>
      </div>
      
                      <!--- reporteros-->
                  <section class="container text-center p-5">
                    <div class="card border-primary row style=max-width:16rem;">
                    <div class="card-header">REPORTEROS</div>
                    <div class="targetaReporteros">
                      <div class="card ml-3" style="max-width:16rem;">
                        <div class="row g-0">
                          <div class="col-sm-4">
                            <img src="../resource/img/reportero/REPORTERO-BLANCA_FERNANDEZ-CULTURA.jpg" class = "imagenreporteros"alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Blanca Fernandez</h5>
                              <p class="card-text"><small class="text-muted">Cultura</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width:16rem;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="../resource/img/reportero/REPORTERO-CESAR_RODRIGUEZ-MUNDO.jpg" class = "imagenreporteros"alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Cesar rodriguez</h5>
                              <p class="card-text"><small class="text-muted">Mundo</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width:16rem;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="../resource/img/reportero/REPORTERO-FRANCISCA_CONTRERAS-SALUD.jpg" class = "imagenreporteros"alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Francisca Contreras</h5>
                              <p class="card-text"><small class="text-muted">Salud</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width:16rem;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="../resource/img/reportero/REPORTERO-JAVIER_MARTÍNEZ-POLITICA.jpg" class = "imagenreporteros"alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Javier Martines</h5>
                              <p class="card-text"><small class="text-muted">Politica</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width:16rem;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="../resource/img/reportero/REPORTERO-PABLO_GONZÁLEZ-ECONOMÍA.jpg" class = "imagenreporteros"alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Pablo Gonzales</h5>
                              <p class="card-text"><small class="text-muted">Economia</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width:16rem;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="../resource/img/reportero/REPORTERO-VERONICA_HERNÁNDEZ-DEPORTE.jpg" class = "imagenreporteros"alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Pablo Gonzales</h5>
                              <p class="card-text"><small class="text-muted">Deporte</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
     <!--INICIO Carrucel-->     
    
          <div class="contenedor_imagenNoticia">  
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="../resource/img/imagen_carrusel _1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1>Sueldo mínimo: Pymes advierten que no están las condiciones para pagar 500 mil pesos</h1>
                  <p>"Hoy día las pymes no están en condiciones de pagar un sueldo de esa magnitud", señalaron desde Conapyme.</p>

                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../resource/img/imagen_carrusel _2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1>Los 21 secretos tecnológicos que no quieren que sepas</h1>
                  <p>Hay realidades que permanecen ocultas bajo falsas creencias o el interés de empresas y corporaciones como Google, los fabricantes de gadgets... e incluso tu propio tu jefe.</p>    
            
                </div>
              </div>
              <div class="carousel-item">
                <img src="../resource/img/imagen_carrusel _3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1>Actualidad</h1>
                  <p>Minsal reportó 133 fallecidos y 7.945 nuevos casos diarios de Covid-19 en el país.</p>  
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
        

        
          <div><!--cards-->
            
            
<!---cards caategoria-->
          </div>
          
              <div class="container row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <a href="Economia.html">
                      <h5 class="card-title">ECONOMIA</h5>
                    <img src="../resource/img/Economia1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      </a>
                      <p class="card-text">Presidenta de la Asociación de AFP: “El sistema de reparto de los militares va a caer por su propio peso, no se puede mantener”</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">actualizacion hace 20 minutos....</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <a href=""></a>
                    <h5 class="card-title">SALUD</h5>
                    <img src="../resource/img/vacuna.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      
                      <p class="card-text">Regeneron afirma que su cóctel de anticuerpos ayuda a prevenir el covid-19 sintomático</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">ultima actualizacion hace 1 dia</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <a href="Deporte.html">
                    <h5 class="card-title">DEPORTE</h5></a>
                    <img src="../resource/img/DEPORTE1.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      
                    <p class="card-text">La Calera y Audax asaltan la cima del torneo chileno y desplazan a catolica</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">ultima actualizacion hace 5 horas</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--cartas anteriores-->
            
            <div class=" container row g-4">
              <div class="col">
                <div>
                  <a href="NoticiaInsendio.html">
                  <img src="../resource/img/insendio.jpg" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h5 class="card-title">Seis caballos murieron tras incendio en caballeriza en Colina</h5></a>
                </div>
                </div>
              </div>
              <div class="col">
                <div>
                  <a href="NoticiaEmergencia.html"></a>
                  <img src="../resource/img/vacuna.jpg" class="card-img-top" alt="vacuna"></a>
                  <div class="card-body">
                    <h5 class="card-title">China estudia mezclar varias vacunas para aumentar eficacia ante el virus</h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div>
                  <a href="NoticiaTecnologia.html">
                  <img src="../resource/img/retos_seguridad.png" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h5 class="card-title">Los principales retos de la seguridad en 2021</h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div >
                  <img src="../resource/img/algoritmo.jpg" class="card-img-top " alt="...">
                  <div class="card-body">
                    <h5 class="card-title">La tiranía de los algoritmos</h5>
                  </div>         
            </div>
          <footer class="conteiner-fluid">
            <div  class="conteiner-fluid .containerInformacionNav">
              <h2>Avenida italia 890,provincia,Santiago</h2><br>
              <h2>+5691234658</h2><br>
              <h2>info@CaosNews.cl</h2>
              <h2>&COPY - Todos los derechos reservados.</h2>

          </div>
        </footer>
        </body>
       
      </html>