*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border-color: #F2F2F2;
    margin-right: 20px;
}

.barra-superior{
    padding: 20px;
    width: auto;
    background-color: #47281C;
}

.barra-superior li{
    margin-right: 14px;
}

.active{
    font-weight: bold;
    font-size: 15px;
}

.inactivo{
    color: #A69D9D;
    font-weight: bold;
    font-size: 15px;
}

.actualizacion{
    background-color:  #D8764C;
    height: 30%;
    width: auto;
    color: white;
    padding: 20px;
    padding-left: 60px;
    font-size: 15px;
}


.contenedor{
    margin-top: 30px;
    border: 1px;
    border-style: solid;
    border-color:  #D8764C;
    margin-left: 30px;
    margin-right: 60px;
    border-radius: 20px;
}


.footer{
    margin-top: 5%;
    background-color: #449DBD;
    padding: 3%;

}

.foot{
    margin-left: 50px;
    color: white;
    font-size: 15px;
}


h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.redes-sociales{
    width: 30px;
    margin-left: 9%;
}

.buscador{
    border-radius: 5px;
    border: none;
    font-size: 10px;
    height: 25px;
    width: 150px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.img-buscar{
    margin-right: 14px;
}

.cargo{
    background-color: #4091AE; 
    color: white; 
    font-style: italic;
    text-align: center;
    font-size: 18px;
}



.card{
    margin-top: 20%;
    border-color: #234A59; 
}

.card-body{
    padding: 0%;
    text-align: center;
    background-color: #EEF3FA;
}

.card-text{
    font-size: 14px;
    color: #A8ACC7;
    font-style: italic;
    text-align: left;
    margin-top: 14px;
}

.link{
    text-decoration: none;
    font-style: italic;
    text-align: left;
}

.card-img{
    width: 60px;
    margin-left: 5%;
    border-radius: 100%;
    margin-top: 7px;
    margin-bottom: 15px;
}

.hr-mundo{
    border: 2px;
    border-style: solid;
    border-color:  #D8764C;
}

.img-mundo{
    width: 150px;
    border-radius: 100%;
}

.img-mundo-noticia{
    width: 100%;
    height: 200px;
}

.card-text-noticia{
    font-size: 14px;
    color: black;
    font-style: italic;
    text-align: center;
    margin-top: 14px;
    padding: 4px;
    height: 70px;
}


.fecha{
    padding-top: 15%;
    text-align: center;
    color: black;
    font-style: italic;
    font-size: 14px;
}

.enlaces{
    color:  #D8764C;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.bg{
    border: 2px;
    border-style: solid;
    border-color:  #D8764C;
    border-radius: 10px;
}

.img-noticia{
    width: 90%;
    margin: 5%;
}

.btn-leer-mas{
    background-color: #D8764C;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10%;
    margin-right: 5%;
}