<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administrador-Reportajes Rechazados</title>

    <!--Importar bootstrap-->
    <link rel="stylesheet" href="../../resources/bootstrap-5.0.0/css/bootstrap.min.css">
    <script src="../../resources/bootstrap-5.0.0/js/bootstrap.min.js"></script>

    <!--Importar hoja de estilos propia-->
    <link rel="stylesheet" href="../../resources/style/admi-estilos.css">

</head>
<body>
    <header>
        <!-- Barra navegadora/ menu-->
        <nav class="navbar navbar-expand-md navbar-dark barra-superior ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon amburguesa"></span>
                </button>
                <!--Logo-->
                <a class="navbar-brand" href="admi_solicitud_1.html">
                    <img src="../../resources/img/logo.png" alt="Logo Caos News" class="logo">
                </a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <!--Herramientas disponibles administrador-->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--Solicitudes-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" aria-current="page" href="admi_solicitud_1.html">Solicitudes</a>
                        </li>
                        <!--Aprobados-->
                        <li class="nav-item">
                            <a class="nav-link inactivo" href="admi_aceptados.html">Aprobados</a>
                        </li>
                        <!--Rechazados-->
                        <li class="nav-item">
                            <a class="nav-link active" href="admi_rechazados.html" tabindex="-1" aria-disabled="true">Rechazados</a>
                        </li>
                        <!--Nuevo colaborador-->
                        <li class="nav-item">
                            <a class="nav-link inactivo me-5" href="admi_nuevo_colaborador.html" tabindex="-1" aria-disabled="true">Nuevo Colaborador</a>
                        </li>
                        <!--Cerrar Sesión-->
                        <li class="nav-item">
                            <a class="btn btn-cerrar-sesion" href="../noticias/noti-destacadas.html" tabindex="-1" aria-disabled="true">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--Barra informacíon-->
    <div>
        <!--Datos actualización página-->
        <p class="actualizacion">Viernes, 16 de Abril de 2021 | Actualizado a las 12:00 </p>
    </div>
    <!--Cuerpo pagina-->
    <div class="row">
        <!--Información del usuario-->
        <div class="col-12 col-md-3 mt-5">
            <div class="card ms-5 me-5 ">
                <!--Cargo-->
                <div class="card-body">
                    <p class="cargo p-4">
                        ADMINISTRADOR
                    </p>
                    <!--Fotografía-->
                    <img src="../../resources/img/personas/administrador.jpg" class="card-img-top img-cargo border" alt="...">
                    <!--Nombre-->
                    <p class="card-text">Fernando Rojas</p>
                </div>
            </div>
        </div>
        <!--Volver al menú principal-->
        <div class="col-12 col-md-9 mt-5">
            <div class="row">
                <div class="col-7 col-md-9"></div>
                <div class="col-5 col-md-2">
                    <a href="admi_solicitud_1.html" class="btn btn-inicio"> Inicio </a>
                </div>
            </div>
            <!--Contenedor-->
            <div class="contenedor table-responsive">
                <div class="row">
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-10">
                        <!--Título-->
                        <h1>REPORTAJES RECHAZADOS</h1>
                        <hr>
                        <!--Tabla descriptiva-->
                        <table class="table table-bordered text-center" >
                            <thead>
                                <tr>
                                    <th>Título Reportaje</th>
                                    <th>Categoría</th>
                                    <th>Fecha Rechazo</th>
                                    <th>Comentario</th>
                                    <th>Autor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Noticia 1-->
                                <tr class="bg-white">
                                    <td>
                                        Bielsa sorprende a
                                        Guardiola y el Leeds vence
                                        al City por 2 a 1
                                    </td>
                                    <td class="categoria ">
                                        DEPORTE
                                    </td>
                                    <td>
                                        28 de Febrero 2021
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla
                                        leo elit, mollis non orci sit amet,
                                        molestie eleifend velit. In
                                        faucibus felis nec rutrum
                                        rhoncus.
                                    </td>
                                    <td>
                                        Verónica Hernández
                                    </td>
                                </tr>
                                <!--Noticia 2-->
                                <tr>
                                    <td>
                                        Keiko Fujimori se perfila
                                        para pelear con Castillo la
                                        presidencia de Perú en el
                                        balotaje
                                    </td>
                                    <td class="categoria">
                                        MUNDO
                                    </td>
                                    <td>
                                        28 de Febrero 2021
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla
                                        leo elit, mollis non orci sit amet,
                                        molestie eleifend velit. In
                                        faucibus felis nec rutrum
                                        rhoncus.
                                    </td>
                                    <td>
                                        César Rodríguez
                                    </td>
                                </tr>
                                <!--Noticia 3-->
                                <tr class="bg-white">
                                    <td>
                                        Unidos para qué, maldita sea
                                    </td>
                                    <td class="categoria">
                                        POLÍTICA
                                    </td>
                                    <td>
                                        28 de Febrero 2021
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla
                                        leo elit, mollis non orci sit amet,
                                        molestie eleifend velit. In
                                        faucibus felis nec rutrum
                                        rhoncus.
                                    </td>
                                    <td>
                                        Javier Martínez
                                    </td>
                                </tr>
                                <!--Noticia 4-->
                                <tr>
                                    <td>
                                        Para muchos pacientes de
                                        ‘covid largo’, demostrar
                                        que están enfermos es una
                                        gran parte de la batalla
                                    </td>
                                    <td class="categoria">
                                        SALUD
                                    </td>
                                    <td>
                                        28 de Febrero 2021
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla
                                        leo elit, mollis non orci sit amet,
                                        molestie eleifend velit. In
                                        faucibus felis nec rutrum
                                        rhoncus.
                                    </td>
                                    <td>
                                        Francisca Contreras
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </vidv>
            </div>
        </div>
    </div>
    <!--Footer-->
    <footer>
        <div class="footer">
            <div class="row">
                <div class="col-12 col-md-1">
                    <img src="../../resources/img/logo.png" class="logo border">
                </div>
                <div class="col-12 col-md-11">
                    <p class="foot">
                        Avenida Italia 890, Providencia, Santiago. <br>
                        +56 9 1234 5678 <br>
                        info@caosnews.cl <br>
                        © 2020 - Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>